		div{
			margin: 43px 43px;
			position:relative;
			display:inline-block;
		}
		table{
		border: 1px solid #48AAE6;
		}
		table td {
			height: 40px;
			width: 40px;
			background-color: #48AAE6;

			}
		#but_first {
			background-color: orange;
			color: white;
			font-size: 30px;
			height: 45px;
			width: 45px;
			position: absolute;
			right: -46px;
			top: 1px;
			border: 0px;
			}
		#but_second {
			background-color: orange;
			color: white;
			font-size: 30px;
			height: 45px;
			width: 45px;
			position: absolute;
			bottom: -46px;
			border: 0px;
			}
		#but_del_top {
			background-color: #B20000;
			color: white;
			font-size: 30px;
			height: 43px;
			width: 43px;
			position: absolute;
			top: -43px;
			border: 0px;
			margin-right: 40px;	
		}	
		#but_del_left{
			background-color: #B20000;
			color: white;
			font-size: 30px;
			height: 43px;
			width: 43px;
			position: absolute;
			left: -43px;
			top: 0px;
			border: 0px;

		}
		.hidden_button{
			visibility: hidden;
		}
		button:hover {
			cursor: pointer;
			opacity: 0.5;
			transition: 1s;
		}
		button:not(:hover) {
  		transition: 1s;
		}
		